.Quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(
    45deg,
    rgba(103, 0, 31, 0.8),
    rgba(34, 101, 163, 0.5)
  );
}

.Quiz h1 {
  color: white;
  margin-left: 10px;
}

.QuizWrapper {
  width: 600px;
}
